##################################################################################
#    Enable Module
#    1 = Enabled
#    0 = Disabled
##################################################################################

Account.Profs.Enable = 1

##################################################################################
#    SKILL
##################################################################################
#    MaxPrimaryTradeSkill
#        Description: Maximum number of primary professions a character can learn.
#        Range:       0-11
#        Default:     2
#
#    This Module works well when this is set for all professions.

MaxPrimaryTradeSkill = 11


##################################################################################
# Logging Stuff                                                                                                                                  #
##################################################################################

Appender.accountprofs=2,5,1,AccountProfs.log,w
Logger.accountprofs=4,Console Server accountprofs

