##################################################################################
#    SKILL
##################################################################################
#    MaxPrimaryTradeSkill
#        Description: Maximum number of primary professions a character can learn.
#        Range:       0-11
#        Default:     2
#
#    This Module works well when this is set for all professions.

MaxPrimaryTradeSkill = 11


##################################################################################
# Logging Stuff                                                                                                                                  #
##################################################################################

Appender.accountwide=2,5,1,AccountWide.log,w
Logger.accountwide=4,Console Server accountwide

